In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\user\anaconda3\lib\site-packages (4.6.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from pymongo) (2.4.2)

# Pymongo

In [1]:
import pymongo
import pandas as pd
import numpy as np

## 1. Connect Server

In [2]:
uri = 'mongodb://kt:ktpw@43.203.221.133:27017/?authSource=admin'
# kt는 사용자명, admin은 사용할 DB명
client = pymongo.MongoClient(uri)
client

MongoClient(host=['43.203.221.133:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin')

In [5]:
list(client.list_databases())
# MongoDB 서버에 있는 DB 목록 출력

[{'name': 'admin', 'sizeOnDisk': 135168, 'empty': False},
 {'name': 'config', 'sizeOnDisk': 73728, 'empty': False},
 {'name': 'local', 'sizeOnDisk': 73728, 'empty': False},
 {'name': 'mongo', 'sizeOnDisk': 73728, 'empty': False}]

## 2. CRUD

In [10]:
# Make data
df = pd.DataFrame({
    'name': list('ABCDE'),
    'age': np.random.randint(20, 40, 5), # 20 이상 40 이하 5개
    'addr': list('SPIDS')
})
df

  name  age addr
0    A   23    S
1    B   28    P
2    C   29    I
3    D   21    D
4    E   28    S

In [11]:
# Create
# 데이터를 저장할 땐 json format을 사용함
json_data = df.to_dict('records')
json_data

[{'name': 'A', 'age': 23, 'addr': 'S'},
 {'name': 'B', 'age': 28, 'addr': 'P'},
 {'name': 'C', 'age': 29, 'addr': 'I'},
 {'name': 'D', 'age': 21, 'addr': 'D'},
 {'name': 'E', 'age': 28, 'addr': 'S'}]

In [12]:
# DB Server(Client) 밑에 DB가 있어야 함
# DB의 이름은 mongo라고 하자
# DB 밑에는 Collection이 있어야 함
# Collection의 이름은 users라고 하자

# insert_many: 한번에 여러 개 DB에 저장
# isnert_one: 한번에 하나 DB에 저장
result = client.mongo.users.insert_many(json_data) # 5개의 데이터 DB에 저장
result

InsertManyResult([ObjectId('6642c6660f79a10c8b09cd4a'), ObjectId('6642c6660f79a10c8b09cd4b'), ObjectId('6642c6660f79a10c8b09cd4c'), ObjectId('6642c6660f79a10c8b09cd4d'), ObjectId('6642c6660f79a10c8b09cd4e')], acknowledged=True)

In [13]:
# Read
collection = client.mongo.users

In [14]:
# 모든 데이터 가져오기
documents = collection.find({})
documents

In [15]:
# Cursor라는 객체로 불러와지는 걸 리스트로 바꿔서 출력
data = list(documents)

In [16]:
len(data), data[0]

(7,
 {'_id': ObjectId('6641caf76791695ab83ef6a3'),
  'name': 'B',
  'age': 30,
  'addr': 'P'})

In [17]:
# lt: less than (미만)
# lte: less than equal (이하)
documents = collection.find({'age': {'$lt': 3}})
data = list(documents)
print(len(data))
pd.DataFrame(data)

0

Empty DataFrame
Columns: []
Index: []

In [16]:
# Update
collection = client.mongo.users
documents = collection.find({})
data = list(documents)
pd.DataFrame(data)

                        _id name  age addr
0  6641caf76791695ab83ef6a2    A   31    S
1  6641caf76791695ab83ef6a3    B   30    P
2  6641caf76791695ab83ef6a4    C   22    I
3  6641caf76791695ab83ef6a5    D   33    D
4  6641caf76791695ab83ef6a6    E   30    S

In [22]:
# update_one: 가장 위의 하나만 바뀜
# update_many: 여러개 바뀜
collection.update_many({'age': {'$lt': 30}}, {'$set': {'age': 20, 'addr': 'S'}})
# 조건, 바꿔줄 내용

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [23]:
documents = collection.find({})
data = list(documents)
pd.DataFrame(data)

                        _id name  age addr
0  6641caf76791695ab83ef6a3    B   30    P
1  6641caf76791695ab83ef6a4    C   20    S
2  6641caf76791695ab83ef6a5    D   33    D

In [24]:
# Delete
collection = client.mongo.users
collection.delete_many({'addr': 'S'})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [27]:
documents = collection.find({})
data = list(documents)
pd.DataFrame(data)

                        _id name  age addr
0  6641caf76791695ab83ef6a3    B   30    P
1  6641caf76791695ab83ef6a5    D   33    D

In [3]:
import pymongo

uri = 'mongodb://kt:ktpw@43.203.221.133:27017/?authSource=admin'
# kt는 사용자명, admin은 사용할 DB명
client = pymongo.MongoClient(uri)
client

MongoClient(host=['43.203.221.133:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin')

In [16]:
# 계정 유무 확인
account = {'email': 'admin@kt.com', 'pw': '1234'}
collection = client.mongo.users
# client는 서버 mongo는 DB user 는 collection
document = collection.find_one({'email': account['email']})

In [17]:
document

{'_id': ObjectId('66430afcb08dc7f66524b89d'),
 'email': 'admin@kt.com',
 'pw': '1234'}

In [18]:
result = {}

# 계정이 없으면 추가,
# 있으면 있다고 메시지 출력
if document:
    result['msg'] = 'hasAccount'
else:
    save_result = collection.insert_one(account)
    print(save_result.inserted_id)
    result['msg'] = 'joinAccount'
result

{'msg': 'hasAccount'}

In [21]:
documents = collection.find({})
data = list(documents)
pd.DataFrame(data)

                        _id name  age addr
0  6641caf76791695ab83ef6a3    B   30    P
1  6641caf76791695ab83ef6a5    D   33    D
2  6642c6660f79a10c8b09cd4a    A   23    S
3  6642c6660f79a10c8b09cd4b    B   28    P
4  6642c6660f79a10c8b09cd4c    C   29    I
5  6642c6660f79a10c8b09cd4d    D   21    D
6  6642c6660f79a10c8b09cd4e    E   28    S

In [20]:
# delete
collection.delete_many({'email': account['email']})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)