# **자료형(List, Dictionary, Tuple)**

* 여러 값을 한꺼번에 저장하고 관리하기 위한 자료형에 대해 배웁니다.
* 각 자료형에 대해 3가지를 배웁니다.
    * 생성 : 어떻게 만드는지
    * 조회 : 어떻게 데이터를 가져다 사용하는지
    * 수정 : 어떻게 추가, 변경, 삭제 하는지.

## **1.리스트(list)**

### **(1) 리스트 생성**

* 대괄호 […, …, …, …, … ] 로 선언
    * List_a = [ 1, 2, 3, 4, 5 ]

#### **1) 기본 생성**

In [13]:
# 리스트 생성하기
list_a = [ 1, 2, 3, 4, 5 ]
list_b = ['a','b','c','d','e']

# 전체 조회
print(list_a)
print(list_b)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']

In [14]:
list_a
list_b

['a', 'b', 'c', 'd', 'e']

In [15]:
display(list_a)
display(list_b)

[1, 2, 3, 4, 5]

['a', 'b', 'c', 'd', 'e']

* print문
    * 코드셀 안에서 화면에 결과를 출력하기 위해서 사용
    * 출력할 결과가 1개이면 생략 가능
    * 여러 개이면 반드시 print 문 사용해야 함
* 대체가능한 함수 : display()

#### **2) range 함수**
* range 함수는 자주 사용됩니다.
    * 순차 증가값(등차행렬)으로 리스트 생성시
* 문법 : range(시작값, 끝값, 증가값)
    * 시작값 생략 --> 0부터 시작
    * 증가값 생략 --> 1씩 증가
    * 끝값 : 포함 안됨, 이전까지

In [7]:
# 1부터 11까지, 2씩 증가하는 값으로 리스트 생성
range(1, 12, 2)

range(1, 12, 2)

In [8]:
list(range(1, 12, 2))

[1, 3, 5, 7, 9, 11]

#### **3) 리스트 안의 리스트**

* 리스트 안에 리스트를 포함시킬 수 있습니다.
    * 1차원 리스트 안의 1차원 리스트를 포함시켜서, 2차원 리스트를 생성

In [ ]:
list_d = [1, 2, 3]
list_e = [list_d, 4, 5]
print(list_e)

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 50부터 0 전까지 4씩 감소시킨 값을 리스트로 저장하고 출력하시오.

In [23]:
list(range(50, 0, -4))

[50, 46, 42, 38, 34, 30, 26, 22, 18, 14, 10, 6, 2]

### **(2) 리스트 조회**

#### **1) 인덱스 값으로 조회**
* 인덱스 : 0부터 시작
* 인덱스의 끝에서부터 셀 때 : -1, -2, -3, ...

In [ ]:
a = [23, 3, 16, 45, 11]
print(a[0], a[3])
print(a[-1], a[-3])

#### **2) 인덱스 범위 조회(슬라이싱)**
* 리스트[시작인덱스:끝인덱스]
    * 시작인덱스 부터 **끝 인덱스 전까지**
    * 시작인덱스 생략 ==> 처음부터
    * 끝인덱스 생략 ==> 끝까지

In [24]:
a = [23, 3, 16, 45, 11]

print(a[0:3])
# 또는
print(a[:3])

[23, 3, 16]
[23, 3, 16]

In [27]:
print(a[2:5]) # 5 인덱스는 없지만 써도 됨
print(a[2:])
print(a[-3:])

[16, 45, 11]
[16, 45, 11]
[16, 45, 11]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 항목들로 리스트 '한글'를 생성하시오
* '가','나','다','라','마','바','사'

In [30]:
한글 = ['가', '나','다','라','마','바','사']

[문2] 다음을 출력하시오.
* '라'
* ['가','나',다']
* ['바','사']

In [32]:
print(한글[3])
print(한글[:3])
print(한글[-2:])

라
['가', '나', '다']
['바', '사']

### **(3) 리스트 수정**

#### **1) 값 추가**
* 값을 추가하는 두가지 방법
    * ① .append()
    * ② 리스트 + [추가할 값] : 리스트1 + 리스트2 = 합쳐진 리스트

In [98]:
a = [23, 3, 16, 45, 11]

a.append(99)
print(a)

[23, 3, 16, 45, 11, 99]

In [105]:
a = [23, 3, 16, 45, 11]

a = a + [99]
print(a)

[23, 3, 16, 45, 11, 99]

int

#### **2) 값 수정**
* 인덱스로 해당 값을 조회하고 그 자리에 수정
    * a[2] = 34

In [35]:
a = [23, 3, 16, 45, 11]

a[2] = 34
print(a)

[23, 3, 34, 45, 11]

#### **3) 값 삭제**
* 인덱스로 조회한 대상을 삭제 : del a[2]

In [36]:
a = [23, 3, 16, 45, 11]

del a[2]
print(a)

[23, 3, 45, 11]

* 특정 값을 찾아서 삭제 :
    * 리스트.remove(값)

In [37]:
a = [23, 3, 16, 45, 11]

a.remove(45)
print(a)

[23, 3, 16, 11]

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 리스트 list1에 1, 3, 5, 7을, 리스트 list2에 2, 4, 8을 저장하고,
list1의 두 번째 값을 list2에 추가하시오.

In [108]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 8]
list2.append(list1[1])
list2

[2, 4, 8, 3]

[문2] 문1의 list2에서 세번째 값을 삭제하시오.

In [109]:
list2.remove(8)
# del list2[2]
list2

[2, 4, 3]

[문3] 문2의 list2에서 두번째 값에 10을 곱한 값으로 변경하시오.

In [111]:
list2[1] *= 10
list2

[2, 40, 3]

## **2.딕셔너리(dictionary)**

* 하나의 딕셔너리 안에 다양한 형태의 여러 값들을 저장
* 여러 자료형들의 묶음

### **(1) 생성**

* 중괄호 {} 안에 , key : value 형태로 선언합니다.
    * Value : 다양한 형태의 변수
    * Key : Value 변수의 이름

In [115]:
dict_a = { 'v1' : 32,
           'l1' : [1, 2, 3],
           'd1' : {'a' : 1, 'b' : 2} }
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

* 딕셔너리 정보 조회
    * .keys() : 딕셔너리의 key 만 조회
    * .values() : 딕셔너리의 값 만 조회
    * .items() : key와 값을 쌍(tuple)으로 조회

In [116]:
dict_a.keys()

dict_keys(['v1', 'l1', 'd1'])

In [117]:
dict_a.values()

dict_values([32, [1, 2, 3], {'a': 1, 'b': 2}])

In [118]:
dict_a.items()

dict_items([('v1', 32), ('l1', [1, 2, 3]), ('d1', {'a': 1, 'b': 2})])

### **(2) 조회**

* 조회시 키로 값을 조회
    * 딕셔너리[키]

In [119]:
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

print( dict_a['v1'])
print('=' * 30)

print( dict_a['l1'])
print( dict_a['l1'][:2])
print('=' * 30)

print( dict_a['d1'])
print( dict_a['d1']['a'])

32
==============================
[1, 2, 3]
[1, 2]
==============================
{'a': 1, 'b': 2}
1

### **(3) 수정**

In [134]:
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

In [135]:
# 추가
dict_a['v2'] = 500
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 500}

In [136]:
# 수정
dict_a['v2'] = 300
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}, 'v2': 300}

In [139]:
# 삭제
del dict_a['v2']
print(dict_a)

{'v1': 32, 'l1': [1, 2, 3], 'd1': {'a': 1, 'b': 2}}

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 다음 항목으로 딕셔너리를 생성하시오.
* dict name : member
* key : value
    * 'name':['한기영']
    * 'age':[49]
    * 'gender':['m']

In [95]:
member = {'name':['한기영'], 'age':[49], 'gender':['m']}
member

{'name': ['한기영'], 'age': [49], 'gender': ['m']}

[문2] member 딕셔너리의 key에 맞게 자신의 정보를 추가해 봅시다.

In [96]:
member['name'].append('조유빈')
member['age'].append(22)
member['gender'].append('f')
member

{'name': ['한기영', '조유빈'], 'age': [49, 22], 'gender': ['m', 'f']}

[문3] 다음을 조회해 봅시다.
* [49, ##]
* 49

In [97]:
print(member['age'])
print(member['age'][1])

[49, 22]
22

### **(4) [추가]리스트, 딕셔너리로 부터 값 할당하기**

In [71]:
# 리스트로 부터 값 할당
a = [23, 3, 16]

a1, a2, a3 = a
print(a1, a2, a3)

23 3 16

In [72]:
# 딕셔너리로 부터 값 할당
dict_a = { 'v1': 32, 'l1': [1,2,3], 'd1': {'a':1, 'b':2}}

# 각 값을 할당
a1, a2, a3 = dict_a.values()
print(a1, a2, a3)

32 [1, 2, 3] {'a': 1, 'b': 2}

## **3.튜플(tuple)**

* 튜플은 좌표, 순서쌍을 담는 자료형입니다.

In [75]:
# 소괄호로 선언
t = (4,7)
t
a=(1,'a')
a

(1, 'a')

In [76]:
# 조회는 인덱스로
print(t[0])
print(t[1])

4
7

## **4.복습문제**

1. 0 ~ 100 사이의 5의 배수로 된 리스트를 생성하고, 리스트 값들(element)의 개수를 구하시오.

In [83]:
a = list(range(5, 100, 5))
print(a)
print(len(a))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
19

2. 1번에서 생성한 리스트 중에서 40를 삭제하시오.

In [86]:
a.remove(40)
a

[5, 10, 15, 20, 25, 30, 35, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

3. 2번에 이어서, 끝에서 값 3개를 조회하시오.

In [88]:
a[-3:]

[85, 90, 95]

4. 다음의 딕셔너리를 생성하시오.
* dict name : products
* key : value
    * 'name':['바나나킥','짱구','초코파이']
    * 'price':[2000, 3000, 4500]

In [90]:
products = {'name':['바나나킥','짱구','초코파이'],
'price':[2000, 3000, 4500]}
products

{'name': ['바나나킥', '짱구', '초코파이'], 'price': [2000, 3000, 4500]}

5. 4번에 이어서, 다음을 추가하시오.
* 제조사 : ['농심','삼양','오리온']

In [91]:
products['제조사'] = ['농심','삼양','오리온']
products

{'name': ['바나나킥', '짱구', '초코파이'],
 'price': [2000, 3000, 4500],
 '제조사': ['농심', '삼양', '오리온']}

6. 다음의 결과를 얻도록 조회해 봅시다.
* 짱구, 3000, 삼양

In [93]:
print(products['name'][1])
print(products['price'][1])
print(products['제조사'][1])

짱구
3000
삼양