# **조건문과 반복문**

* 데이터분석 및 모델링을 수행하다보면 데이터 처리 절차(흐름)을 제어해야 하는 경우가 종종 발생됩니다.
    * 조건에 따라 다르게 처리
    * 조건에 충족될 때까지 반복 처리
* 이를 위해 조건문과 반복문 기초를 배웁니다.

## **1.Bool 연산자**

* bool 연산자
    * 주어진 조건을 평가하여 참 또는 거짓의 결과를 반환하는 연산자
    * 결과 : True / False
* 비교 연산자(조건문)
    * ==  같은가?
    * !=  같지 않은가?
* 논리 연산자
    * and : 양쪽이 둘 다 참일 때만 참.
    * or : 둘 중 하나만 참 이어도 참.
    * not : 논리 값의 반대.

In [2]:
# 'a' 와 'A' 가 같은가?
print('a' == 'A')

# 'a' 와 'A' 가 같지 않은가?
print('a' != 'A')

False
True

In [3]:
# 'a' 와 'A' 가 같거나, 10과 10.0 이 같은지 비교
print(('a' == 'A') or (10 == 10.0))

True

In [4]:
# 20과 20.0이 같고, '123'이 '일이삼'과 같은지 비교
print((20 == 20.0) and ('123' == '일이삼'))

False

## **2.조건제어(if문)**

### **(1) if**

>if 조건문1 :  
>____코드1

* 조건문1이 True이면,
* 코드1 실행(아니면, 그냥 넘어 감.)

In [ ]:
score = 100
if (score >= 90):
    print('pass')

### **(2) if ~ else**

>if 조건문1 :  
>____코드1  
>else :  
>____코드2

* 조건문1이 True이면,
* 코드1 실행,
* 아니면, 코드2 실행

In [ ]:
score = 50
if (score >= 90):
    print('pass')
else :
    print('fail')

### **(3) if ~ elif ~ else**

>**if** 조건문1 :  
>____코드1  
>elif 조건문2 :    
>____코드2  
>else :  
>____코드3

* 조건문1이 True이면,
* 코드1 실행
* 아니면, 또 조건문2가 True이면,
* 코드2 실행
* 아니면, 코드3 실행

In [ ]:
score = 50
if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
else :
    print('C')

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] math, korean, history에 임의의 점수를 각각 저장하고, 다음의 조건에 맞게 출력하시오.

* 각 점수중 하나라도 70 미만이면 'fail'
* 아니면, 'pass'

In [17]:
math = 65
korean = 90
history = 100
# math, korean, history = 65, 90, 100

if (math < 70) or (korean < 70) or (history < 70): # or: | / and: &
    print('fail')
else:
    print('pass')
    
if any([math < 70, korean < 70, history < 70]):
    print('fail')
else:
    print('pass')

fail
fail

[문2] math, korean, history에 임의의 점수를 각각 저장하고, 다음의 조건에 맞게 출력하시오.
* 각 점수중 하나라도 70 미만이거나, 평균이 75 이하이면 'fail'
* 아니면, 'pass'

In [13]:
math = 65
korean = 90
history = 100
# math, korean, history = 65, 90, 100
average = (math+korean+history)/3

if ((math < 70) or (korean < 70) or (history < 70)) or (average <= 75):
    print('fail')
else:
    print('pass')

fail

## **3.반복제어**

### **(1) for loop**

* 문법
> for 변수 in range() :  
> ____코드

* 실행 절차
    * ① 변수 in range() : 데이터 목록(여기서는 range()의 결과)으로 부터 값을 하나씩 꺼내서 변수 i에 담아
    * ② 코드를 실행하고
    * ③ ①~②반복 (데이터 목록의 다음 값을 변수에 담고 코드실행)

* 반복문 종료 조건
    * 데이터 목록 첫번째 값부터, 마지막까지 반복한 후에 종료
    * 반복문 안에서 break 구문을 만나면 종료

In [18]:
for i in range(5) :
    print(i)

0
1
2
3
4

In [19]:
for i in [0,1,2,3,4] :
    print(i)

0
1
2
3
4

In [22]:
# 1부터 100까지 자연수를 모두 더하기
total = 0
for i in range(1, 101) :
    total += i

print(total)

5050

* **코드**를 n 번 반복시킬때

In [23]:
import random

n = 10
for i in range(n) :
    rdnum = random.randint(0, 100)  # 0~100 사이 정수 중 랜덤으로 추출
    print(rdnum)

32
79
84
85
25
88
2
87
80
41

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 1부터 100까지 홀수만 더하기

In [28]:
sum = 0
for i in range(100):
    if i%2!=0:
        sum+=i

print(sum)

# for i in range(1, 100, 2):
#     sum += i

2500

[문2] 다음의 모양을 출력해 봅시다.  
\#  
\**   
\###   
\****   
\#####

In [29]:
for i in range(1, 6):
    if i%2==1:
        print('#' * i)
    else:
        print('*' * i)

#
**
###
****
#####

### **(2) while loop**

* 문법
> while 조건문 :  
> ____코드  
> ____조건변경문

* 실행 절차
    * ① 조건문이 참이면,
    * ② 코드를 실행하고
    * ③ 조건을 변경한 후,
    * ④ ① ~ ③ 반복 실행

* 반복문 종료 조건
    * ① 조건문이 참이 아니면 반복문 종료
    * 반복문 안에서 break 구문을 만나면 종료

In [30]:
# 0에서 5까지 1씩 증가시켜가면서 값을 출력
i = 0

while i <= 5 :
    print(i)
    i += 1

0
1
2
3
4
5

* while의 쓸모

In [32]:
while True :
    a = input('암호를 입력하시오.')
    if a == 'pass' :
        print('Welcome~!')
        break

암호를 입력하시오. Pass
암호를 입력하시오. pass

Welcome~!

<img src='https://raw.githubusercontent.com/jangrae/img/master/practice_01.png' width=120 align="left"/>

[문1] 1부터 100까지 홀수만 더하기

In [7]:
i = 0
sum = 0

while i<=100:
    if i%2!=0:
        sum += i
    i+=1
    
print(sum)

2500

## **4.복습문제**

1. -2에서 -10까지 1씩 감소시킨 값을 출력하시오.(range)

In [10]:
for i in range(-2, -11, -1):
    print(i)

-2
-3
-4
-5
-6
-7
-8
-9
-10

2. 변수 age에 임의의 나이를 저장하고, 다음 조건에 맞게 출력하시오.
* 나이가 10보다 작으면, '10세 미만'
* 20보다 작으면, '10대'
* 30보다 작으면, '20대'
* 40보다 작으면, '30대'
* 50보다 작으면, '40대'
* 아니면, '50대 이상'

In [11]:
age=22
if age <10:
    print('10대 미만')
elif age <20:
    print('10대')
elif age <30:
    print('20대')
elif age <40:
    print('30대')
elif age <50:
    print('40대')
else:
    print('50대 이상')

20대

3. 1부터 500까지 12의 배수만 더하기

In [12]:
sum = 0

for i in range(1, 501):
    if i%12==0:
        sum+=i
print(sum)

10332

4. 피보나치 수열(Fibonacci numbers) 생성기를 만들어 봅시다.
* 피보나치 수열이란
    * 첫째 및 둘째 항이 1이며 그 뒤의 모든 항은 바로 앞 두 항의 합인 수열  
    * 피보나치 수열 : https://ko.wikipedia.org/wiki/%ED%94%BC%EB%B3%B4%EB%82%98%EC%B9%98_%EC%88%98

* 수열의 길이를 지정하면
* 피보나치 수열이 리스트로 출력되도록 합니다.
    * n = 9
    * 출력 : [1, 1, 2, 3, 5, 8, 13, 21, 34]

In [48]:
fib=[1, 1]
n = input ('n =')
for i in range(2, int(n)):
    fib.insert(i, fib[i-2] + fib[i-1])
print(fib)

n = 9

[1, 1, 2, 3, 5, 8, 13, 21, 34]

5. 1부터 100까지 수 중, 소수(prime number)를 제외한 모든 수를 출력하시오.  
> 4,6,8,9,10,12,14,15,.....100

* 소수(prime number)는 1과 자신의 수 로만 나눠지는 수 입니다.
* 힌트 : for loop를 중첩해서 수행해야 합니다.

In [52]:
for i in range(1, 101):
    cd=0
    for a in range(1, i+1):
        if i%a == 0:
            cd+=1
    if cd>2:
        print(i)

4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50
51
52
54
55
56
57
58
60
62
63
64
65
66
68
69
70
72
74
75
76
77
78
80
81
82
84
85
86
87
88
90
91
92
93
94
95
96
98
99
100